In [4]:
import numpy as np
import pandas as pd
from ultra_impute import MissFiller
from util import calculate_metrics

`MissFiller` can be initialized with a dictionary, NumPy ndarray, or pandas DataFrame. Dictionaries and ndarrays will be converted to DataFrames upon initialization of the `MissFiller` class.

In [2]:
# d1 is dictionary
d1 = {
'A':[0, 5, 10, np.nan, 20],
'B': [1, 6, np.nan, 16, 21],
'C':[np.nan, 7, 12, 17, 22],
'D':[3, 8, 13, 18, 23],
'E':[4, 9, 14, 19, np.nan]
}

# d2 is NumPy ndarray
d2 = np.array([
[ 0.,  1., np.nan,  3., 4],
[ 5.,  6.,  7.,  8., 9],
[10., np.nan, 12., 13., 14],
[np.nan, 16., 17., 18., 19],
[20., 21., 22., 23., np.nan]
])

# d3 and d4 are DataFrames created from d1 and d2, respectively.
d3= pd.DataFrame(d1)
d4 = pd.DataFrame(d2, columns=['A','B ','C','D', 'E'])

# Create MissFiller objects, noting that mf1, mf2, mf3, and mf4 
# all contain the same data.
mf1 = MissFiller(d1)
mf2 = MissFiller(d2)
mf3 = MissFiller(d3)
mf4 = MissFiller(d4)
mf1.df

      A     B     C   D     E
0   0.0   1.0   NaN   3   4.0
1   5.0   6.0   7.0   8   9.0
2  10.0   NaN  12.0  13  14.0
3   NaN  16.0  17.0  18  19.0
4  20.0  21.0  22.0  23   NaN

In [ ]:
# the row and column indices of missing values
na_locations = mf1.get_na_indices()
na_locations

In [24]:
# remove rows with any missing values. Default is axis=0
mf1.remove_na()

     A    B    C  D    E
1  5.0  6.0  7.0  8  9.0

In [25]:
# remove columns with any missing values
mf1.remove_na(axis=1)

    D
0   3
1   8
2  13
3  18
4  23

In [11]:
# fill missing values with row mean
mf1.fill_trend(axis=1, method='mean')

      A      B     C     D     E
0   0.0   1.00   2.0   3.0   4.0
1   5.0   6.00   7.0   8.0   9.0
2  10.0  12.25  12.0  13.0  14.0
3  17.5  16.00  17.0  18.0  19.0
4  20.0  21.00  22.0  23.0  21.5

In [12]:
# fill missing values with column mean
mf1.fill_trend(axis=0, method='mean')

       A     B     C   D     E
0   0.00   1.0  14.5   3   4.0
1   5.00   6.0   7.0   8   9.0
2  10.00  11.0  12.0  13  14.0
3   8.75  16.0  17.0  18  19.0
4  20.00  21.0  22.0  23  11.5

In [4]:
# back fill missing values by row
# When axis=1, "back fill" means a missing value will be filled 
# by the value on its rightside
mf1.fill_trend(axis=1, method='bfill')

      A     B     C     D     E
0   0.0   1.0   3.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  12.0  12.0  13.0  14.0
3  16.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0   NaN

In [5]:
# back fill missing values by row
# When axis=0, "back fill" means a missing value will be filled 
# by the value below.
mf1.fill_trend(axis=0, method='bfill')

      A     B     C   D     E
0   0.0   1.0   7.0   3   4.0
1   5.0   6.0   7.0   8   9.0
2  10.0  16.0  12.0  13  14.0
3  20.0  16.0  17.0  18  19.0
4  20.0  21.0  22.0  23   NaN

In [15]:
# Fill by random values chose from the same column
mf1.fill_rand(axis=0)

      A     B     C     D     E
0   0.0   1.0  12.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  21.0  12.0  13.0  14.0
3   5.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0   4.0

In [16]:
# Fill by random values chose from the same row
mf1.fill_rand(axis=1)

      A     B     C     D     E
0   0.0   1.0   4.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  10.0  12.0  13.0  14.0
3  16.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0  23.0

In [6]:
# fill missing values by mean calculated from the sliding window. 
# Default axis = 0, means the sliding window will move along the columns.
mf1.fill_mw()

           A     B     C     D     E
0   0.000000   1.0   9.5   3.0   4.0
1   5.000000   6.0   7.0   8.0   9.0
2  10.000000  11.0  12.0  13.0  14.0
3  11.666667  16.0  17.0  18.0  19.0
4  20.000000  21.0  22.0  23.0  16.5

In [6]:
# fill missing values using the 'fKNN' algorithem (fast k-nearest neighbour).
# When axis = 1 (default), search columns for the nearest neighbours.
mf1.fill_fKNN()

           A          B          C     D          E
0   0.000000   1.000000   1.673789   3.0   4.000000
1   5.000000   6.000000   7.000000   8.0   9.000000
2  10.000000  11.585308  12.000000  13.0  14.000000
3  16.627234  16.000000  17.000000  18.0  19.000000
4  20.000000  21.000000  22.000000  23.0  22.525584

In [7]:
# When axis = 0, search rows for the nearest neighbours.
mf1.fill_fKNN(axis=0)

           A         B          C     D          E
0   0.000000   1.00000   9.505107   3.0   4.000000
1   5.000000   6.00000   7.000000   8.0   9.000000
2  10.000000  10.24221  12.000000  13.0  14.000000
3  11.733663  16.00000  17.000000  18.0  19.000000
4  20.000000  21.00000  22.000000  23.0  16.302562

In [7]:
# fill missing values using the sklearn's 'KNNImputer'
# When axis = 1 (default), search columns for the nearest neighbours.
# the results of KNN (using the mean) might be slightly different 
# from fKNN (using the weighted mean)
mf1.fill_KNN()

      A      B     C     D     E
0   0.0   1.00   2.0   3.0   4.0
1   5.0   6.00   7.0   8.0   9.0
2  10.0  12.25  12.0  13.0  14.0
3  17.5  16.00  17.0  18.0  19.0
4  20.0  21.00  22.0  23.0  21.5

In [9]:
# Imputes missing data using the Expectation-Maximization (EM) algorithm.
mf1.fill_EM()

           A          B          C     D          E
0   0.000000   1.000000  -1.765171   3.0   4.000000
1   5.000000   6.000000   7.000000   8.0   9.000000
2  10.000000  12.520981  12.000000  13.0  14.000000
3  17.245379  16.000000  17.000000  18.0  19.000000
4  20.000000  21.000000  22.000000  23.0  20.940237

In [10]:
# Imputes missing data using Buck's Method.
mf1.fill_Buck()

      A     B     C     D     E
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0  24.0

In [12]:
# Impute missing values using NuclearNormMinimization.
# This method can be very slow for large dataset.
mf1.fill_NNM()

===============================================================================
                                     CVXPY
                                     v1.5.3
===============================================================================
(CVXPY) Oct 25 10:36:08 PM: Your problem has 25 variables, 25 constraints, and 0 parameters.
(CVXPY) Oct 25 10:36:08 PM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) Oct 25 10:36:08 PM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) Oct 25 10:36:08 PM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
(CVXPY) Oct 25 10:36:08 PM: Your problem is compiled with the CPP canonicalization backend.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) Oct 25 10:36:08 PM: Compiling problem (target solver=CVXOPT).
(CVXPY) Oct 25 10:36:08 PM: Reduction chain: Dcp2Cone -> CvxAttr2Constr -> ConeMatrixStuffing -> CVXOPT
(CVXPY) Oct 25 10:36:08 PM: Applying reduction Dcp2Cone
(CVXPY) Oct 25 10:36:08 PM: Applying reduction CvxAttr2Constr
(CVXPY) Oct 25 10:36:08 PM: Applying reduction ConeMatrixStuffing
(CVXPY) Oct 25 10:36:08 PM: Applying reduction CVXOPT
(CVXPY) Oct 25 10:36:08 PM: Finished problem compilation (took 1.325e-02 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) Oct 25 10:36:08 PM: Invoking solver CVXOPT  to obtain a solution.
     pcost       dcost       gap    pres   dres   k/t
 0:  0.0000e+00 -2.5000e-02  3e+03  3e+00  4e+00  1e+00
 1:  9.1448e+01  9.2443e+01  6e+02  6e-01  7e-01  1e+00
 2:  7.1211e+01  7.2077e+01  8e+01  1e-01  1e-01  9e-01
 3:  7.3301e+01  7.3432e+01  1e+01  1e-02  2e-02  1e-01
 4:  7.3438e+01  7.3462e+01  2e+00  3e-03  3e-03  2e-02
 5:  7.3468e+01  7.3480e+01  1e+00  1e-03  2e-03  1e-02
 6:  7.3467e+01  7.3468e+01  1e-01  2e-04  3e-04  1e-03
 7:  7.3476e+01  7.3477e+01  2e-02  6e-05  7e-05  3e-04
 8:  7.3478e+01  7.3478e+01  6e-03  2e-05  3e-05  1e-04
 9:  7.3478e+01  7.3478e+01  1e-03  5e-06  6e-06  2e-05
10:  7.3478e+01  7.3478e+01  4e-04  2e-06  2e-06  8e-06
11:  7.3478e+01  7.3478e+01  4e-05  2e-07  2e-07  5e-07
12:  7.3479e+01  7.3479e+01  1e-06  5e-09  6e-09  1e-08
Optimal solution found.
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) Oct 25 10:36:08 PM: Problem status: optimal
(CVXPY) Oct 25 10:36:08 PM: Optimal value: 7.348e+01
(CVXPY) Oct 25 10:36:08 PM: Compilation took 1.325e-02 seconds
(CVXPY) Oct 25 10:36:08 PM: Solver (including time spent in interface) took 1.819e-01 seconds

           A          B          C     D          E
0   0.000000   1.000000   1.999666   3.0   4.000000
1   5.000000   6.000000   7.000000   8.0   9.000000
2  10.000000  10.999334  12.000000  13.0  14.000000
3  14.998666  16.000000  17.000000  18.0  19.000000
4  20.000000  21.000000  22.000000  23.0  23.998331

In [17]:
# Matrix completion by iterative soft thresholding of SVD decompositions. 
# Similar to R softImpute package.
mf1.fill_SoftImpute()

[SoftImpute] Max Singular Value of X_init = 58.112124
[SoftImpute] Iter 1: observed MAE=0.439340 rank=5
[SoftImpute] Iter 2: observed MAE=0.443483 rank=5
[SoftImpute] Iter 3: observed MAE=0.438852 rank=4
[SoftImpute] Iter 4: observed MAE=0.434964 rank=4
[SoftImpute] Iter 5: observed MAE=0.434751 rank=4
[SoftImpute] Iter 6: observed MAE=0.436287 rank=4
[SoftImpute] Iter 7: observed MAE=0.438504 rank=4
[SoftImpute] Iter 8: observed MAE=0.440790 rank=4
[SoftImpute] Iter 9: observed MAE=0.442632 rank=4
[SoftImpute] Iter 10: observed MAE=0.443982 rank=4
[SoftImpute] Iter 11: observed MAE=0.431866 rank=3
[SoftImpute] Iter 12: observed MAE=0.423467 rank=3
[SoftImpute] Iter 13: observed MAE=0.417864 rank=3
[SoftImpute] Iter 14: observed MAE=0.412525 rank=3
[SoftImpute] Iter 15: observed MAE=0.407492 rank=3
[SoftImpute] Iter 16: observed MAE=0.403333 rank=3
[SoftImpute] Iter 17: observed MAE=0.405281 rank=3
[SoftImpute] Iter 18: observed MAE=0.405432 rank=4
[SoftImpute] Iter 19: observed MAE=0.404823 rank=4
[SoftImpute] Iter 20: observed MAE=0.404958 rank=4
[SoftImpute] Iter 21: observed MAE=0.408452 rank=4
[SoftImpute] Iter 22: observed MAE=0.412661 rank=4
[SoftImpute] Iter 23: observed MAE=0.415685 rank=3
[SoftImpute] Iter 24: observed MAE=0.402293 rank=3
[SoftImpute] Iter 25: observed MAE=0.391294 rank=3
[SoftImpute] Iter 26: observed MAE=0.385084 rank=3
[SoftImpute] Iter 27: observed MAE=0.382091 rank=3
[SoftImpute] Iter 28: observed MAE=0.380476 rank=3
[SoftImpute] Iter 29: observed MAE=0.379730 rank=3
[SoftImpute] Iter 30: observed MAE=0.379216 rank=3
[SoftImpute] Iter 31: observed MAE=0.378858 rank=3
[SoftImpute] Iter 32: observed MAE=0.378607 rank=3
[SoftImpute] Iter 33: observed MAE=0.378429 rank=3
[SoftImpute] Iter 34: observed MAE=0.378300 rank=3
[SoftImpute] Iter 35: observed MAE=0.378202 rank=3
[SoftImpute] Iter 36: observed MAE=0.378124 rank=3
[SoftImpute] Iter 37: observed MAE=0.378126 rank=3
[SoftImpute] Iter 38: observed MAE=0.378287 rank=3
[SoftImpute] Iter 39: observed MAE=0.378460 rank=3
[SoftImpute] Iter 40: observed MAE=0.378931 rank=3
[SoftImpute] Iter 41: observed MAE=0.378958 rank=2
[SoftImpute] Iter 42: observed MAE=0.375422 rank=2
[SoftImpute] Iter 43: observed MAE=0.372238 rank=2
[SoftImpute] Iter 44: observed MAE=0.368982 rank=2
[SoftImpute] Iter 45: observed MAE=0.365690 rank=2
[SoftImpute] Iter 46: observed MAE=0.362391 rank=2
[SoftImpute] Iter 47: observed MAE=0.359110 rank=2
[SoftImpute] Iter 48: observed MAE=0.355873 rank=2
[SoftImpute] Iter 49: observed MAE=0.353822 rank=2
[SoftImpute] Iter 50: observed MAE=0.352077 rank=2
[SoftImpute] Iter 51: observed MAE=0.350463 rank=2
[SoftImpute] Iter 52: observed MAE=0.348982 rank=2
[SoftImpute] Iter 53: observed MAE=0.347631 rank=2
[SoftImpute] Iter 54: observed MAE=0.346408 rank=2
[SoftImpute] Iter 55: observed MAE=0.345308 rank=2
[SoftImpute] Iter 56: observed MAE=0.344324 rank=2
[SoftImpute] Iter 57: observed MAE=0.343450 rank=2
[SoftImpute] Iter 58: observed MAE=0.342677 rank=2
[SoftImpute] Iter 59: observed MAE=0.341998 rank=2
[SoftImpute] Iter 60: observed MAE=0.341404 rank=2
[SoftImpute] Iter 61: observed MAE=0.340887 rank=2
[SoftImpute] Iter 62: observed MAE=0.340438 rank=2
[SoftImpute] Iter 63: observed MAE=0.340051 rank=2
[SoftImpute] Iter 64: observed MAE=0.339718 rank=2
[SoftImpute] Iter 65: observed MAE=0.339432 rank=2
[SoftImpute] Iter 66: observed MAE=0.339187 rank=2
[SoftImpute] Stopped after iteration 66 for lambda=1.162242

           A          B          C     D         E
0   0.000000   1.000000   1.937622   3.0   4.00000
1   5.000000   6.000000   7.000000   8.0   9.00000
2  10.000000  10.966751  12.000000  13.0  14.00000
3  14.146055  16.000000  17.000000  18.0  19.00000
4  20.000000  21.000000  22.000000  23.0  22.73716

In [15]:
# Matrix completion by iterative low-rank SVD decomposition. 
# The input dataframe must have at least 5 columns.
mf1.fill_IterativeSVD()

[IterativeSVD] Iter 1: observed MAE=2.198553
[IterativeSVD] Iter 2: observed MAE=0.342949
[IterativeSVD] Iter 3: observed MAE=0.000559

           A          B        C     D          E
0   0.000000   1.000000   1.8377   3.0   4.000000
1   5.000000   6.000000   7.0000   8.0   9.000000
2  10.000000  10.709216  12.0000  13.0  14.000000
3  11.556256  16.000000  17.0000  18.0  19.000000
4  20.000000  21.000000  22.0000  23.0  12.784147

In [16]:
# A strategy for imputing missing values by modeling each feature with 
# missing values as a function of other features in a round-robin fashion.
# Same as MICE (Multiple Imputation by  chained equations) in R.
mf1.fill_IterativeImputer()

      A     B     C     D     E
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
4  20.0  21.0  22.0  23.0  24.0

In [18]:
# Direct factorization of the incomplete matrix into low-rank U and V, 
# with per-row and per-column biases, as well as a global bias.
mf1.fill_MatrixFactorization()

[MatrixFactorization] Iter 10: observed MAE=4.061846 rank=40
[MatrixFactorization] Iter 20: observed MAE=1.204612 rank=40
[MatrixFactorization] Iter 30: observed MAE=0.481113 rank=40
[MatrixFactorization] Iter 40: observed MAE=0.331092 rank=40
[MatrixFactorization] Iter 50: observed MAE=0.225590 rank=40
[MatrixFactorization] Iter 60: observed MAE=0.153135 rank=40
[MatrixFactorization] Iter 70: observed MAE=0.104026 rank=40
[MatrixFactorization] Iter 80: observed MAE=0.071123 rank=40
[MatrixFactorization] Iter 90: observed MAE=0.050189 rank=40
[MatrixFactorization] Iter 100: observed MAE=0.035853 rank=40
[MatrixFactorization] Iter 110: observed MAE=0.028006 rank=40
[MatrixFactorization] Iter 120: observed MAE=0.023827 rank=40
[MatrixFactorization] Iter 130: observed MAE=0.020789 rank=40
[MatrixFactorization] Iter 140: observed MAE=0.018600 rank=40
[MatrixFactorization] Iter 150: observed MAE=0.017009 rank=40
[MatrixFactorization] Iter 160: observed MAE=0.015774 rank=40
[MatrixFactorization] Iter 170: observed MAE=0.014833 rank=40
[MatrixFactorization] Iter 180: observed MAE=0.013949 rank=40
[MatrixFactorization] Iter 190: observed MAE=0.013250 rank=40
[MatrixFactorization] Iter 200: observed MAE=0.012659 rank=40
[MatrixFactorization] Iter 210: observed MAE=0.012158 rank=40
[MatrixFactorization] Iter 220: observed MAE=0.011623 rank=40
[MatrixFactorization] Iter 230: observed MAE=0.011091 rank=40
[MatrixFactorization] Iter 240: observed MAE=0.010702 rank=40
[MatrixFactorization] Iter 250: observed MAE=0.010286 rank=40
[MatrixFactorization] Iter 260: observed MAE=0.009882 rank=40
[MatrixFactorization] Iter 270: observed MAE=0.009501 rank=40
[MatrixFactorization] Iter 280: observed MAE=0.009151 rank=40
[MatrixFactorization] Iter 290: observed MAE=0.008824 rank=40
[MatrixFactorization] Iter 300: observed MAE=0.008511 rank=40
[MatrixFactorization] Iter 310: observed MAE=0.008221 rank=40
[MatrixFactorization] Iter 320: observed MAE=0.007904 rank=40
[MatrixFactorization] Iter 330: observed MAE=0.007634 rank=40
[MatrixFactorization] Iter 340: observed MAE=0.007311 rank=40
[MatrixFactorization] Iter 350: observed MAE=0.007075 rank=40
[MatrixFactorization] Iter 360: observed MAE=0.006821 rank=40
[MatrixFactorization] Iter 370: observed MAE=0.006545 rank=40
[MatrixFactorization] Iter 380: observed MAE=0.006319 rank=40
[MatrixFactorization] Iter 390: observed MAE=0.006095 rank=40
[MatrixFactorization] Iter 400: observed MAE=0.005864 rank=40
[MatrixFactorization] Iter 410: observed MAE=0.005650 rank=40
[MatrixFactorization] Iter 420: observed MAE=0.005419 rank=40
[MatrixFactorization] Iter 430: observed MAE=0.005251 rank=40
[MatrixFactorization] Iter 440: observed MAE=0.005038 rank=40
[MatrixFactorization] Iter 450: observed MAE=0.004874 rank=40
[MatrixFactorization] Iter 460: observed MAE=0.004670 rank=40
[MatrixFactorization] Iter 470: observed MAE=0.004503 rank=40
[MatrixFactorization] Iter 480: observed MAE=0.004341 rank=40
[MatrixFactorization] Iter 490: observed MAE=0.004178 rank=40
[MatrixFactorization] Iter 500: observed MAE=0.004024 rank=40

           A          B          C     D          E
0   0.000000   1.000000   2.377297   3.0   4.000000
1   5.000000   6.000000   7.000000   8.0   9.000000
2  10.000000  11.004485  12.000000  13.0  14.000000
3  15.029141  16.000000  17.000000  18.0  19.000000
4  20.000000  21.000000  22.000000  23.0  22.978613

In [19]:
# Missing value imputation using Random Forests.
mf1.fill_RF()

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

      A     B     C     D      E
0   0.0   1.0   8.5   3.0   4.00
1   5.0   6.0   7.0   8.0   9.00
2  10.0   9.9  12.0  13.0  14.00
3  14.8  16.0  17.0  18.0  19.00
4  20.0  21.0  22.0  23.0  17.15

In [5]:
#Original data
original_df = pd.read_csv("http://publicepidata.s3.amazonaws.com/GSE105018_N30_R10K.original.tsv", sep="\t", index_col=0, header=0)

# manually marked 10% values as missing (non-random block missing)
d5 = pd.read_csv("http://publicepidata.s3.amazonaws.com/GSE105018_N30_R10K.10per.tsv", sep="\t", index_col=0, header=0)
mf5 = MissFiller(d5)

# predict the missing values
filled_df = mf5.fill_more()
original_df

Binerize sample IDs into two groups using K-means ...
Group "0" contains 15 samples
	3442
	3311
	3312
	3341
	3342
	3411
	3412
	3461
	3462
	3471
	3472
	3501
	3502
	3451
	3452
Group "1" contains 15 samples
	2621
	2622
	2691
	2692
	3391
	3392
	2791
	2792
	3161
	3162
	3211
	3212
	3431
	3432
	3441
493 rows in group "0" are complete missing.
507 rows in group "1" are complete missing.
Predict missing values in group "0"
Iteration 0
The prediction score (coefficient of determination) is 99.10%
Iteration 1
The prediction score (coefficient of determination) is 99.15%
Iteration 2
The prediction score (coefficient of determination) is 99.00%
Iteration 3
The prediction score (coefficient of determination) is 98.89%
Iteration 4
The prediction score (coefficient of determination) is 98.93%
Iteration 5
The prediction score (coefficient of determination) is 99.04%
Iteration 6
The prediction score (coefficient of determination) is 98.96%
Iteration 7
The prediction score (coefficient of determination) is 99.04%
Iteration 8
The prediction score (coefficient of determination) is 99.10%
Iteration 9
The prediction score (coefficient of determination) is 99.06%
Predict missing values in group "1"
Iteration 0
Iteration 0: the prediction score is 98.940000.%
Iteration 1
Iteration 1: the prediction score is 98.990000.%
Iteration 2
Iteration 2: the prediction score is 98.910000.%
Iteration 3
Iteration 3: the prediction score is 98.810000.%
Iteration 4
Iteration 4: the prediction score is 98.790000.%
Iteration 5
Iteration 5: the prediction score is 98.920000.%
Iteration 6
Iteration 6: the prediction score is 98.810000.%
Iteration 7
Iteration 7: the prediction score is 98.920000.%
Iteration 8
Iteration 8: the prediction score is 98.940000.%
Iteration 9
Iteration 9: the prediction score is 98.930000.%
Re-order the index as the original dataframe ...

In [6]:
# the locations of 10% NA
na_locations = mf5.get_na_indices()

# calculate the imputation perfromance
MAE, RAE, RMSE, MAPE, R2 = calculate_metrics(original_df, filled_df, na_locations)

In [7]:
MAE

0.020684513333333338